<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4">

    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-lg-4">
      <mat-form-field>
        <mat-select placeholder="Zone">
          <mat-option>
            Zone A
          </mat-option>
          <mat-option>
            Zone B
          </mat-option>
          <mat-option>
            Zone C
          </mat-option>
          <mat-option>
            Zone D
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field>
        <mat-select placeholder="Usertype">
          <mat-option>
            Standard
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">

    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-lg-4">
      <button mat-raised-button >Automatic filling</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">

    </div>
  </div>
  <br />
  <br />

  <div class="row col-lg-12">
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
    <div class="col-lg-1" style="width: 12.499999995%">

    </div>
  </div>

 <!-- <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <mat-card-header class="col-lg-12">
          <mat-card-title>
            <ul class="header-list list-unstyled col-lg-12">
              <li class="col-lg-1" style="width: 12.499999995%">Price</li>
              <li class="col-lg-1" style="width: 12.499999995%">Monday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Tuesday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Wednesday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Thursday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Friday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Saturday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Sunday</li>
            </ul>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="col-lg-12">
          <div class="row">
            <ul class="header-list list-unstyled col-lg-12">
              <li class="col-lg-1" style="width: 12.499999995%">
                <mat-form-field>
                  <mat-select placeholder="Time">
                    <mat-option>
                      60min
                    </mat-option>
                    <mat-option>
                      1day
                    </mat-option>
                    <mat-option>
                      1week
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              </li>
              <li class="col-lg-1" style="width: 12.499999995%">Monday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Tuesday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Wednesday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Thursday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Friday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Saturday</li>
              <li class="col-lg-1" style="width: 12.499999995%">Sunday</li>
            </ul>
          </div>
          <ul class="header-list list-unstyled col-lg-12">

            <li>
              <ul class="list-unstyled">
                <li>

                </li>
                <li>
                  <label>Mean of payment</label>
                </li>
                <li>

                </li>
                <li>
                    Franchise
                </li>
              </ul>
            </li>

            <li>

            </li>

            <li>

            </li>

            <li>

            </li>

            <li>

            </li>

            <li>

            </li>

            <li>

            </li>

            <li>

            </li>

          </ul>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>-->








</div>
