mat-row:hover{
  background: #31404b;
  opacity: 0.9;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
mat-row:hover mat-cell{
  color: white;
}
mat-row:hover mat-cell button i{
  color: #31404b;
}
.selected{
  background: #31404b;
  opacity: 0.9;
}

.selected mat-cell{
  color: white;
}
.selected mat-cell button i{
  color: #31404b;
}
.title-zone{
  color: #31404b;
  font-size: 2em;
  font-weight: bold;
}

.sites-box {
  height:80px;
  overflow:auto;
}

.mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  font-size: 16px;
}

.button-form{
  background-color: #25AAE1;
  color: white;
}
.button-form:hover{
  background-color: #1A6B84;
}
