<div class="chart-container">
  <div class="chart-header">
    <div class="chart-title">
      <span *ngIf="showTitle">{{data.chart_title}}</span>
    </div>
    <div class="chart-data-groupby" style="display: inline-block; flex-grow: 1">
      <div *ngIf="showGroupBy && data.x_type == 'Date'">
        <a class="date-groupby" *ngFor="let item of groupby_periode" (click)="groupDateBy(item.value)"
          [ngClass]="{selected: data.periode == item.value || ((!data.periode || data.periode == 'day') && !item.value)}">{{item.title}}</a>
      </div>
    </div>
    <div class="chart-commands">
      <div *ngIf="showExpand" class="chart-command-expand" (click)="onExpandClicked()"></div>
      <div *ngIf="showUpdate" class="chart-command-update" (click)="onUpdateClicked()"></div>
    </div>
  </div>
  <div #chartWindow class="chart-content" (window:resize)="onChartWindowResize($event)">
    <div *ngIf="!compareData || compareData.length == 0">
      <nvd3 *ngIf="chartData && chartData.length > 0" [options]="chartOptions" [data]="chartData"></nvd3>
      <div class="status-area" *ngIf="chartData && chartData.length == 0">
        <span class="status-text" *ngIf="isRetrieving">Retrieving...</span>
        <span class="status-text" *ngIf="!isRetrieving">No data available</span>
      </div>
    </div>
    <div class="chart-view" *ngIf="compareData && compareData.length > 0">
      <div class="chart-side-by-side">
        <nvd3 [options]="chartOptions" [data]="chartData"></nvd3>
      </div>
      <div class="chart-side-by-side">
        <nvd3 [options]="chartOptions" [data]="compareData"></nvd3>
      </div>
    </div>
  </div>
</div>
<div class="chart-desc-invalid-filter" *ngIf="adjustedEndDate">
  <span>Due to difference between duration of compared periods, end date of period has been adjusted to {{ adjustedEndDate | date: 'dd/MM/yyyy' }} </span>
</div>