<div class="row">
  <div class="col-lg-12" *ngIf="job">
    <mat-card class="col-lg-12">
      <mat-card-content>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-3">
              <label>License plate</label>
            </div>
            <div class="col-lg-3">
              <label>Brand</label>
            </div>
            <div class="col-lg-3">
              <label>Color</label>
            </div>
            <div class="col-lg-3">
              <label>Zone</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <mat-form-field>
                <input matInput [(ngModel)]="job.car_licence_plate" name="licenseplate">
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <mat-select name="brand" [(ngModel)]="job.car_brand">
                  <mat-option *ngFor="let brand of brands" [value]="brand?.brand_name">
                    {{ brand?.brand_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <mat-select name="color" [(ngModel)]="job.car_color">
                  <mat-option *ngFor="let color of colors" [value]="color?.color_name">
                    {{ color?.color_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <mat-select [(ngModel)]="job.zone_name" name="zone">
                  <mat-option *ngFor="let zone of zones" [value]="zone?.name">
                    {{ zone?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <label>Description</label>
            </div>
            <div class="col-lg-3">
              <label>Job type</label>
            </div>
            <div class="col-lg-3">
              <label>Taken by</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <mat-form-field>
                <input matInput [(ngModel)]="job.custom_job_description" name="description">
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <mat-select name="type" [(ngModel)]="job.job_type">
                  <mat-option *ngFor="let jobtype of jobtypes" [value]="jobtype?.type_name">
                    {{ jobtype?.type_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <input matInput [(ngModel)]="job.taker_first_name" name="taker">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <label>Creation</label>
            </div>
            <div class="col-lg-3">
              <label>Start time</label>
            </div>
            <div class="col-lg-3">
              <label>End time</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <mat-form-field>
                <input matInput [(ngModel)]="job.creation" name="creation">
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <input matInput [(ngModel)]="job.start" name="start">
              </mat-form-field>
            </div>
            <div class="col-lg-3">
              <mat-form-field>
                <input matInput [(ngModel)]="job.end" name="end">
              </mat-form-field>
            </div>
          </div>
          <br/><br/>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <img src="http://via.placeholder.com/180x130">
        <br><br><br><br>
        <button mat-button style="float: right; margin-right: 35px" (click)="save();">SAVE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<br/>
