<form (submit)="saveSelectedSites()">
  <h1 mat-dialog-title>Select Sites</h1>
  <mat-dialog-content>
    <div class="col-lg-12">
      <div class="row">
        <mat-selection-list #sitesList>
          <mat-list-option *ngFor="let site of sites; let i = index" [selected]="site.selected" (click)="toggleSelection(i)">
            {{site.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Add</button>
    <button mat-button type="button" (click)="cancelDialog()">Cancel</button>
  </mat-dialog-actions>
</form>
