<mat-toolbar class="toolbar" [ngClass]="{'edit': chartNameOld != ''}">
  <h3 matDialogTitle class="toolbar-title">{{chartNameOld != '' ? 'Update' : 'Create'}} Chart</h3>
</mat-toolbar>
<div class="dialog-content">
  <form class="chart-form" [formGroup]="chartData" (ngSubmit)="update()">
    <div class="col-xs-12 col-sm-5 col-md-5 left-pane">
      <div class="chart-settings">
        <mat-form-field class="input-full-width">
          <mat-label>Chart Title</mat-label>
          <input matInput formControlName="chart_title" required>
        </mat-form-field>

        <div>
          <mat-form-field>
            <mat-label>X Axis:</mat-label>
            <mat-select formControlName="chart_x" required>
              <ng-container *ngFor="let item of axisList">
                <mat-option *ngIf="item.x_enabled" [value]="item.name">{{item.label}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Default Period:</mat-label>
            <mat-select formControlName="periode" required>
              <ng-container *ngFor="let item of dateGroups">
                <mat-option [value]="item.value">{{item.label}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Y Axis:</mat-label>
            <mat-select formControlName="chart_y" required>
              <ng-container *ngFor="let item of axisList">
                <mat-option *ngIf="item.y_enabled" [value]="item.name">{{item.label}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Function:</mat-label>
            <mat-select formControlName="function" required>
              <ng-container *ngFor="let item of functionGroups">
                <mat-option [value]="item.value">{{item.label}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="action-buttons">
        <button *ngIf="!!chartNameOld" mat-raised-button (click)="delete()" color="warn">Delete</button>
        <button type="submit" mat-raised-button class="primary" [ngClass]="{'edit': !!chartNameOld}">{{!!chartNameOld ? 'Update' : 'Create'}}</button>
      </div>

    </div>
    <div class="col-xs-12 col-sm-7 col-md-7">
      <mat-form-field>
        <mat-label>Chart Type:</mat-label>
        <mat-select formControlName="chart_type" required>
          <mat-option *ngFor="let type of chartTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="width: 100%; height: 100%; display: block">
        <stat-chart style="width: 100%; height: 300px; display: inline-block;"
          [showTitle]="false" [showGroupBy]="false" [showExpand]="false" [showUpdate]="false" [data]="chartData.value"
          [filters]="filters" [dateFrom]="dateFrom" [dateUntil]="dateUntil"
          (expandClicked)="showChartModal(chart)">
        </stat-chart>
      </div>
    </div>
  </form>
</div>
